<div id="<%= dom_id wine %>">
  <p>
    <strong>Vineyard:</strong>
    <%= wine.vineyard %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= wine.brand %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= wine.color %>
  </p>

  <p>
    <strong>Quality:</strong>
    <%= wine.quality %>
  </p>

</div>
